.container{
   
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 400px;
    margin-top: 7px;
   
}

.name{
    width: 50%;
    background-color: aqua;
    height: 400px;
    margin: 0;
    border:2px solid black;
    border-radius: 10px;

}

.div{
    width: 50%;
    background-color: #065252;
    height: 400px;
    margin: 0;
    border:2px solid black;
    border-radius: 10px;
}

.image{
    
    }
    