.body{
    background-color: greenyellow;
    color: black;
    text-align: center;
    padding: 0;
    margin: 5px 0;
    height: 500px;
}
.list{
    text-align: center;
    font-family: bebas neue;
    
}

