.caixa{
    background-color: white;
    border-radius: 10px;
    border: 2px;
    color: black;
    margin-top: auto;
    height: 400px;
    text-align: center;
}

.nome{
    font-family: cousive;
    font-size: 50px;
}